.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the div has a height */
  font-size: x-large;
  cursor: pointer;
}

.card {
  border: solid #dadada 1px;
  background-color: #ffff88;
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.modal {
  background-color: #ffff88;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border: 2px solid #000;
  boxshadow: 24;
  padding: 10px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.pointerCursor {
  cursor: pointer;
}

.modalAction {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
